body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: white;
}

header {
    background: yellow;
    color: black;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid yellow;
}